.field {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 0 10px 0;
}

.button {
    background-color: slateblue;
    color: white;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.label {
    font-size: 18px;
    font-weight: bold;
}

.request-list {
    display: flex;
    flex-flow: column;
}

ul {
    display: flex;
    flex-flow: column;
}

.completed__requests {
    flex-direction: column;
    background-color: greenyellow;
    color:black;
    width: fit-content;
}

.request__delete {
    background-color: red;
    color: white;
    max-width: 75px;
}