.field {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 0 10px 0;
}

.button {
    color: slateblue;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}